@import "src/assets/styles/variables.module";
@import "src/assets/styles/mixins";
@import "src/assets/styles/breakpoints.module";

.outer {
  margin-bottom: 80px;
  text-align: center;

  button {
    width: 260px;
  }
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
  text-align: left;

  @include media-breakpoint-max(lg-max) {
    display: block;
    padding: 5%;
    margin-bottom: 0;
    }
}

